PGHOST=xxxxxxxxxxxxxxxxxxxxxxx
PGUSERNAME=xxxxxxxxxxxxxxxxxxx
PGPASSWORD=xxxxxxxxxxxxxxxxxxx
PGDATABASE=xxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=xxxxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_RAPID_API_TRAVEL_API_KEY=xxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_MAPBOX_API_KEY=xxxxxxxxxxxxxxxxx

NEXT_PUBLIC_API_KEY=xxxxxxxxxxxxxxxxxxxx
