.img {
  margin-top: -280px;
  z-index: -5;
  position: absolute;
  height: 102vh;
  width: 100%;
}

.h1 {
  font-family: Raleway;
  font-size: 120px;
  margin-bottom: -40px;
  width: 50px;
  font-weight: 100;
  align-items: center;
  display: flex;
  margin-left: 340px;
  // margin-left: 5%;
  color: #333333;
  // margin-right: 340px;
  // margin-right: 5%;
}

.btn {
  font-family: Raleway;
  font-weight: 400;
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #333333;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: absolute;
  margin-left: 555px;
  // margin-left: auto;
  // margin-right: auto;
  top: 600px;

  text-decoration: none;
  width: 320px;
  justify-content: center;
  border-radius: 10px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.82);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.pagediv {
  background: rgba(255, 255, 255, 0.52);
  width: 100%;
}

// // for smartphones in portrait mode
@media only screen and (max-width: 390px) {
  .img {
    margin-top: -200px;
  }

  .h1 {
    font-size: 36px;
    margin-left: 18%;
  }

  .btn {
    margin-left: 15%;
    margin-right: 15%;
    top: 350px;
    width: 50%;
    font-size: 24px;
  }

  //   .pagediv {
  //     margin-right: -840px;

  // // tablets in portrait mode
  // @media only screen and (min-width: 768px) {
  //   .img {
  //     margin-top: -200px;
  //     max-width: 100% vw;
  //   }

  //   .h1 {
  //     font-size: 60px;
  //     margin-right: 0;
  //     margin-left: 0;
  //   }

  //   .btn {
  //     margin-left: 50px;
  //     top: 230px;
  //     width: 240px;
  //   }
  //   .pagediv {
  //     margin-right: -760px;
  //   }
  // }

  // // tablets in landscape mode
  // @media only screen and (min-width: 1024px) {
  //   .img {
  //     margin-top: -200px;
  //   }
  //   .h1 {
  //     font-size: 80px;
  //   }
  //   .btn {
  //     margin-left: 220px;
  //     top: 420px;
  //     width: 360px;
  //   }
  //   .pagediv {
  //     margin-right: -505px;
  //   }
  // }

  // // laptop screens
  // @media only screen and (min-width: 1440px) {
  //   .img {
  //     margin-top: -280px;
  //   }
  //   .h1 {
  //     font-size: 100px;
  //   }
  //   .btn {
  //     margin-left: 540px;
  //     top: 500px;
  //     width: 480px;
  //   }
  //   .pagediv {
  //     margin-right: -90px;
  //   }
  // }

  // // desktop screens
  // @media only screen and (min-width: 2560px) {
  //   .h1 {
  //     font-size: 120px;
  //     width: 100%vw;
  //   }
  //   .btn {
  //     margin-left: 563px;
  //     top: 500px;
  //     width: 480px;
  //   }
  //   .pagediv {
  //     margin-right: 1030px;
  //   }
}
