.nav {
    display:flex;
    list-style: none;
    margin-left: 900px;
}
 .body {
    background-color: #d2bd9c;
    font-family: raleway, sans-serif;

 }
.li {
    padding: 20px;
    color: #6b6454;

    // #9cb1d2;
    text-decoration:none;

}