.nav {
  display: flex;
  list-style: none;
  margin-left: 800px;
  // position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: color 0.3s ease;
}
.body {
  background-color: #b4c6e7;
  font-family: raleway, sans-serif;
  width: 100%;
}
.li {
  padding: 20px;
  color: #6b6454;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
  display: inline-block;
}
.li:hover {
  text-decoration: underline;
}

.logo {
  margin-top: -60px;
  margin-left: 30px;
  position: absolute;
}

.footer {
  top: 800px;
  position: fixed;
  text-align: center;
  margin-left: 630px;
}
