
.img {
    margin:auto;
    display:flex;
    margin-top: -25px;
    // animation-name: rotate;
    // animation-duration: 12s;
    // animation-iteration-count: infinite;
    // animation-timing-function: linear;
    // -webkit-animation-name: rotate;
    // -webkit-animation-duration: 12s;
    // -webkit-animation-iteration-count: infinite;
    // -webkit-animation-timing-function: linear;
}

@keyframes rotate {
    from { background-position: 0px 0px; }
    to { background-position: 500px 0px; }
}
@-webkit-keyframes rotate {
    from { background-position: 0px 0px; }
    to { background-position: 500px 0px; }

}


// .containerStyle {
//     width: 800px;
//     height: 500px;
// }

// .mapContainer{
//     height: '85vh';
//     width: 100%;
//     background-color: tomato;

// }