.img {
  margin: auto;
  display: flex;
  margin-top: 40px;
}

// .globe {
//   background-image: url('../public/newglobe.tiff');
//   // newglobe.tiff');
//   background-size: cover;
//   border-radius: 50%;
//   height: 200px;
//   width: 200px;
//   animation: spin 10s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotateY(0deg);
//   }
//   100% {
//     transform: rotateY(360deg);
//   }
// }

// @keyframes rotate {
//   from {
//     background-position: 0px 0px;
//   }
//   to {
//     background-position: 500px 0px;
//   }
// }
// @-webkit-keyframes rotate {
//   from {
//     background-position: 0px 0px;
//   }
//   to {
//     background-position: 500px 0px;
//   }
// }

// .containerStyle {
//     width: 800px;
//     height: 500px;
// }

// .mapContainer{
//     height: '85vh';
//     width: 100%;
//     background-color: tomato;

// }

// @media only screen and (max-width: 767px) {
//   .img {
// //     max-width: 90%;
// //     padding: 30px;
// //   }
// // }
