.h1 {
  color: #6b6454;
  text-align: center;
}

.body {
  background-image: url('/mappins.jpeg');
  height: 9900px;
  width: 1490px;
  margin-top: -90px;
  background-repeat: no-repeat;
}

.container {
  border-radius: 16px;
  padding: 50px;
  margin: 50px auto;
  max-width: 500px;
  position: absolute;
  top: 130px;
  left: 450px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.65);
}

.input {
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.button {
  background-color: #6b6454;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.button:hover {
  background-color: #6b6454;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 30px;
    max-width: 90%;
  }

  .input {
    font-size: 16px;
  }

  .button {
    font-size: 18 px;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
