.list {
  margin: 25px;
}

.cardContainer::-webkit-scrollbar {
  width: 12px;
  margin-left: -650px;
}

.cardContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9cb1d2;
  height: 80px;
  cursor: grab;
  cursor: -webkit-grab;
}
.cardContainer::-webkit-scrollbar-thumb:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.cardContainer::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
.cardContainer::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
}
.travelmap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
  margin-left: -18px;
  max-width: 850px;
}

.formControl {
  margin: 8px;
  min-width: 120px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 425px) {
  .appbar {
    width: 95%;
  }
  .input {
    width: 95%;
  }
  .cardContainer {
    max-width: 99%;
  }
  .travelmap {
    max-width: 99%;
    margin-left: -5%;
    margin-right: 5%;
    max-height: 85vh;
    margin-top: 5%;
  }

  .card {
    max-width: 119%;
  }
}

// unfinished
@media only screen and (max-width: 390px) {
  .appbar {
    width: 100%;
  }

  .input {
    width: 95%;
  }
  .list {
    width: 100%;
  }
  // .cardContainer {
  //   // margin-left: -30px;
  // }
  .card {
    width: 95%;
  }
  .travelmap {
    margin-right: 50px;
    margin-left: -25px;
  }
}
// unfinished
// @media only screen and (max-width: 320px) {
//   .appbar {
//     width: 150%;
//     margin-left: 5%;
//   }

//   .input {
//     width: 97%;
//   }
//   .cardContainer {
//     max-width: 90%;
//   }
// }
