// import { createMuiTheme } from '@material-ui/core';
// import {
//   alpha,
//   makeStyles,
// } from '@material-ui/core/styles';

// const theme = createMuiTheme({
//   palette: {
//     primary: {
//       main: "#006400"
//     },
//     secondary: {
//       main: "#ffa500"
//     }
//   }
// });

// export const useStyles = makeStyles((theme)=> ({

    .appbar {
        margin: 20px;
        }
        .title {
          display: none;
            display: block;
          }
        
        
        .search {
          //position: relative;
          border-radius: 10px;
          // background-color: #c7d3e5;
          display: flex;
          margin-right: 150px;
          // border: white solid 5px;
        
        //   & :hover { 
        //   background-color: white, 0.25;
        //   margin-right: 150px;
        //   margin-left: 0;
        //   width: '100%';
        //   // [theme.breakpoints.up('sm')]: { marginLeft: theme.spacing(3), width: 'auto' },
        // }
        }
        .searchIcon {
          padding: 20px;
           height: 100%;
           //position: absolute;
           pointer-events: none;
           display: flex;
           align-items: center;
           justify-content: center,
        }
        
        // .inputRoot: {
        //   color: 'inherit',
        // }
        .inputInput{
          padding: 1, 1, 1, 0;
          padding-left: calc(1em + 4px);
          // transition: transitions.create(width), width 100%;
          
          // [theme.breakpoints.up('md')]: { width: '20ch' },
        }
        .toolbar {
          display: flex;
          justify-content: space-between;
          background-color: #9cb1d2;
        }
        
        .root {
          color: white;
          font-size: 20px;
        
        }

        .cardmedia {
          height: 350px;
        }

        .list {
width: 100%;
          // height: 75vh;
          // overflow: auto;
          }

          .travelmap {
            display:flex;
            justify-content: center;
            align-items:center;
          }
        
.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.spacing {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.cardActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formControl {
  margin: 8px;
  min-width: 120px;
  margin-bottom: 30px;
}