.mapContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 90%;
  margin-top: -25px;
  margin-left: 23px;
}

.paper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}

.placeimg {
  width: 100px;
  height: 100px;
}

.weatherIcon {
  height: 70px;
  // width: 100px;
  position: absolute;
  z-index: 3;
  margin-left: 600px;
  margin-top: 20px;
  background-color: #9cb1d2;
  border-radius: 12px;
}

.weatherTemp {
  height: 70px;
  // width: 100px;
  position: absolute;
  z-index: 3;
  margin-left: 620px;
  margin-top: 71px;
  border-radius: 12px;
}

.popup {
  width: 100px;
}

@media only screen and (max-width: 375px) {
  .mapContainer {
    width: 125%;
    margin-left: 16%;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 320px) {
  .mapContainer {
    width: 147%;
    margin-left: 22%;
    margin-top: 5%;
  }
}
