.mapContainer {
    height: 85vh;
     width: 100%;
    //  margin-left: 780px;
  }
    
    
    // .containerStyle {
    //     width: 800px;
    //     height: 800px;
    // }

    .paper {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100px;
    }

    
    .pointer {
cursor: pointer;

    }