.mapContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 90%;
  margin-top: -25px;
  margin-left: 23px;
}

.paper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}

.placeimg {
  width: 150px;
  height: 150px;
}

.weatherIcon {
  height: 70px;
  // width: 100px;
  position: absolute;
  z-index: 3;
  margin-left: 400px;
  margin-top: 100px;
}
